{% extends 'todo/base.html' %}
{% block content %}

{% if not request.user.is_authenticated %}
<form action="{% url 'accounts:login' %}" method="POST">
    {% csrf_token %}
    <input class="form-control mb-3" type="text" name="username" placeholder="username">
    <input class="form-control mb-3" type="password" name="password" placeholder="password">
    <button class="btn btn-outline-dark mb-3" type="submit">Log In</button>
</form>
{% else %}
<p>You're already logged in. </p>
{% endif %}

{% endblock content %}