{% extends 'todo/base.html' %}
{% block content %}

{% if request.user.is_authenticated %}
<div class="card bg-transparent text-dark" style="width: 18rem;">
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            <div class="card-title">
                <h5>Are you sure?</h5>
                <button class="btn btn-outline-dark mt-3" type="submit">Log out</button>
            </div>
        </form>
    </div>
</div>
{% else %}
<p>You're not logged in. </p>
{% endif %}

{% endblock content %}