{% extends 'todo/base.html' %}
{% block content %}

{% if not request.user.is_authenticated %}
<form method="POST">
    {% csrf_token %}
    <input class="form-control mb-3" type="text" name="username" placeholder="username">
    <input class="form-control mb-3" type="password" name="password1" placeholder="password" required id="id_password1">
    <input class="form-control mb-3" type="password" name="password2" placeholder="confirm password" required id="id_password2">
    {% if form.errors %}
    <p>{{ form.errors }}</p>
    {% endif %}
    <button class="btn btn-outline-dark mb-3" type="submit">Register</button>
</form>
{% else %}
<p>You're already logged in. </p>
{% endif %}

{% endblock content %}