<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/style.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="navbar">
        <ul>
            {% if request.user.is_authenticated %}
            <li class="navbar-left logo"><a href="{% url 'todo:profile' %}">to-do App</a></li>
            <li class="navbar-right"><a href="{% url 'accounts:logout' %}">Log out</a></li>
            {% else %}
            <li class="navbar-left logo"><a href="{% url 'todo:index' %}">to-do App</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>