{% extends 'todo/base.html' %}

{% block content %}

<form action="{% url 'todo:create' %}" method="post">
    {% csrf_token %}
    <div style="margin-top: 30px; margin: 30px;">
        <input type="text" name="title" placeholder="Title">
    </div>
    <div style="margin-top: 20px; margin: 30px;">
        <textarea name="content" value="Content" rows="5" placeholder="Content"></textarea>
    </div>
    <div style="margin-top: 10px; margin: 30px;">
        <button type="submit">Create</button>
    </div>
</form>

{% endblock content %}