{% extends 'todo/base.html' %}

{% block content %}

<form action="{% url 'todo:create' %}" method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_title" class="form-label">Title</label>
        <input type="text" class="form-control" name="title" maxlength="30" required id="id_title">
    </div>
    <div class="mb-3">
        <label for="id_content" class="form-label">Content</label>
        <textarea name="content" class="form-control" cols="40" rows="10" required id="id_content"></textarea>
    </div>
    <button class="btn btn-outline-dark" type="submit">Create</button>
</form>

{% endblock content %}