<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'todo:delete' todo.id %}" method="post">
        {% csrf_token %}
        <div>
            <h5>Are you sure you want to delete this todo?</h5>
        </div>
        <button type="submit">Yes</button>
    </form>
    <a href="{% url 'todo:detail' todo.id %}" class="btn btn-primary type="button">No</a>
</body>
</html>