{% extends 'todo/detail.html' %}

{% block content %}

<div class="card bg-transparent text-dark" style="width: 18rem;">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-body">
        <div class="card-title">
            <h5>Are you sure?</h5>
            <div class="btn-group mt-3" role="group" aria-label="Basic mixed styles example">
                <form action="{% url 'todo:delete' todo.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-outline-dark">Yes</button>

                </form>
                <form action="{% url 'todo:detail' todo.id %}" method="GET">
                    <button type="submit" class="btn btn-outline-dark">No</button>
                </form>
            </div>
        </div>
    </div>
</div>
    {% endblock content %}



    <!-- <div class="card" style="width: 36rem;"> -->
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <!-- <div class="card-body">
            <h5 class="card-title">{{ todo.title }}</h5>
            <p class="card-text">{{ todo.content }}</p>
        </div>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'todo:update' todo.id %}" class="btn btn-primary">Edit</a>
            <a href="{% url 'todo:delete' todo.id %}" class="btn btn-danger">Delete</a>
        </div>
    </div> -->