{% extends 'todo/base.html' %}
{% block content %}

<div class="card" style="width: 36rem;">
    <div class="card-body">
        <h5 class="card-title">{{ todo.title }}</h5>
        <p class="card-text">{{ todo.content }}</p>
        {% if todo.future_date %}
        <p class="card-text">Scheduled for: {{ todo.future_date }}</p>
        {% endif %}
    </div>
    <div>
        <button class="btn"><a href="{% url 'todo:update' todo.id %}">Edit</a></button>
        <button class="btn"><a href="{% url 'todo:delete' todo.id %}">Delete</a></button>
        <button class="btn"><a href="{% url 'todo:confirm_completed' todo.id %}">Completed</a></button>
    </div>
</div>

{% endblock content %}