<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3>{{ todo.title }}</h3>
    <p>{{ todo.content }}</p>
    <form action="{% url 'todo:update' todo.id %}" method="GET">
        <button type="submit">Edit</button>
        <button type="submit" formaction="{% url 'todo:delete' todo.id %}">Delete</button>
    </form>

</body>

</html>