{% extends 'todo/base.html' %}

{% block profile %}

<div class="container">
    <div class="row mt-3">
        <div class="col">

        </div>
        <div class="col">
            <div class="card bg-transparent text-dark" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <!-- <div class="card-body"> -->
                    <a href="{% url 'todo:create' %}" class="btn btn-outline-dark">Create</a>
                <!-- </div> -->
            </div>
        </div>
        <div class="col">

        </div>
    </div>
</div>
<br>
<div class="container">
    <div class="row mt-3">
        <div class="col">
            
        </div>
        <div class="col">
            {% for todo in todo_list %}
            <div class="card bg-transparent text-dark mt-3" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{ todo.title }}</h5>
                    <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">{{ todo.content }}</p>
                    {% if todo.future_date %}
                    <p class="card-text">Scheduled for: {{ todo.future_date }}</p>
                    {% endif %}
                    <br>
                    <a href="{% url 'todo:detail' todo.id %}" class="btn btn-outline-dark">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col">
            {% for todo in scheduled %}
            <div class="card bg-transparent text-dark mt-3" style="width: 18rem;">
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                    <h5 class="card-title">{{ todo.title }}</h5>
                    <p class="card-text d-inline-block text-truncate" style="max-width: 150px;">{{ todo.content }}</p>
                    {% if todo.future_date %}
                    <p class="card-text">Scheduled for: {{ todo.future_date }}</p>
                    {% endif %}
                    <br>
                    <a href="{% url 'todo:detail' todo.id %}" class="btn btn-outline-dark">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock profile %}