{% extends 'todo/base.html' %}
{% block content %}

{% for todo in active %}
<div class="card">
    <p>{{ todo.timestamp }}</p>
    <h3>{{ todo.title }}</h3>
    <h5>{{ todo.content }}</h5>
    {% if todo.future_date %}
    <p>Scheduled for: {{ todo.future_date }}</p>
    {% endif %}
    <button class="btn"><a href="{{ todo.get_absolute_url }}">Details</a></button>
    <button class="btn"><a href="{% url 'todo:confirm_completed' todo.id %}">Completed</a></button>
</div>
{% endfor %}

{% endblock content %}